[Unit]
Description=Update Display Status
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/StatusIndicator/env/bin/python /opt/StatusIndicator/status_indicator.py

[Install]
WantedBy=multi-user.target
